<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <form (ngSubmit)="guardar(formulario)" #formulario="ngForm" class="m-5" [ngClass]="{'was-validated' : validado}" novalidate>
        <div class="form-group">
          <label for="nombre">{{'RECLAMACIONES.NOMBRE' | translate}}</label>
          <input type="text" class="form-control" placeholder="Nombre" name="nombre" minlength="5" required #nombre="ngModel"
            [(ngModel)]="reclamacion.nombre"
            [ngClass]="{ 'is-invalid': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched }">
          <div class="invalid-feedback" *ngIf="nombre.errors?.required">{{'RECLAMACIONES.T_OBLIGATORIO' | translate}}</div>
          <div class="invalid-feedback" *ngIf="nombre.errors?.minlength" [translate]="'RECLAMACIONES.T_MIN_CHAR'" [translateParams]="{value: nombre.errors.minlength.requiredLength}"></div>
        </div>
        <div class="form-group">
          <label for="telefono">{{'RECLAMACIONES.TELEFONO' | translate}}</label>
          <input type="text" class="form-control" placeholder="Teléfono" name="telefono" required #telefono="ngModel"
            [(ngModel)]="reclamacion.telefono"
            [ngClass]="{ 'is-invalid': nombre.errors?.required && telefono.touched }">
          <div class="invalid-feedback" *ngIf="telefono.errors?.required">{{'RECLAMACIONES.T_OBLIGATORIO' | translate}}</div>
        </div>
        <div class="form-group">
          <label for="email">{{'RECLAMACIONES.EMAIL' | translate}}</label>
          <input type="email" class="form-control" placeholder="Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
            [(ngModel)]="reclamacion.email" 
            [ngClass]="{ 'is-invalid': (nombre.errors?.required || email.errors?.pattern) && email.touched }">
          <div class="invalid-feedback" *ngIf="email.errors?.required">{{'RECLAMACIONES.T_OBLIGATORIO' | translate}}</div>
          <div class="invalid-feedback" *ngIf="email.errors?.pattern">{{'RECLAMACIONES.T_MAIL_FORMATO' | translate}}</div>
          <small id="emailHelp" class="form-text text-muted">{{'RECLAMACIONES.NEVER_SHARE' | translate}}</small>
        </div>
        <div class="form-group">
          <label for="texto">{{'RECLAMACIONES.COMENTARIO' | translate}}</label>
          <textarea class="form-control" rows="3" name="texto" [(ngModel)]="reclamacion.comentario"></textarea >
        </div>
        <app-uploader [porcentaje]="porcentaje"  (ficheroSeleccionado)="seleccionarFichero($event)"></app-uploader>
        <button [disabled]="!formulario.valid" type="submit" class="btn btn-primary">{{'RECLAMACIONES.ENVIAR' | translate}}</button>
      </form>
    </div>
  </div>
</div>