<nav>
    <ul class="nav nav-tabs">
      <li class="nav-item form-control btn btn-outline-secondary">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/{{translate.currentLang}}.png" ></a>      
          <div class="dropdown-menu nav-item">
              <a class="dropdown-item nav-link" *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)"><img src="../../../assets/{{lang}}.png" ></a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="">
            <i class="fa fa-comment" aria-hidden="true"></i>
          </a>
      </li>
    </ul>
  </nav>