<div id="container">
    <app-sidebar></app-sidebar>

    <div id="content">
      <nav class="navbar navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Inicio</a>
      </nav>
      <h3>Votaciones</h3>
      <div>
        <a class="btn btn-info" routerLink="/nueva-votacion" routerLinkActive="active">Nueva votación</a>
        <a class="btn btn-info" routerLink="/lista-votaciones" routerLinkActive="active">Listado votaciones</a>
      </div>
      <!--prueba  -->
     <router-outlet></router-outlet>
    </div>
  </div>

