<!-- NAVIGATION -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Votaciones</a>
</nav>

<div class="container p-4">
  
  <!--<app-nueva-votacion></app-nueva-votacion>-->
  <!-- prueba otra vez-->
  <h1>Angular Router</h1>
  <nav>
    <!--<app-uploader></app-uploader>-->
    <a routerLink="/nueva-votacion" routerLinkActive="active">Nueva votación</a>
    <a routerLink="/lista-votaciones" routerLinkActive="active">Listado votaciones</a>
  </nav>
  <router-outlet></router-outlet>

</div>

