<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
        <li class="nav-item form-control btn btn-outline-secondary">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../../assets/{{translate.currentLang}}.png" ></a>      
            <div class="dropdown-menu nav-item">
                <a class="dropdown-item nav-link" *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)"><img src="../../../assets/{{lang}}.png" ></a>
            </div>
        </li>
    </div>

    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/votaciones" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'VOTACIONES.VOTACIONES-MENU' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/votaciones/nueva-votacion" routerLinkActive="active">{{ 'VOTACIONES.NUEVA' | translate }}</a>
          <a class="dropdown-item" routerLink="/votaciones/lista-votaciones" routerLinkActive="active">{{ 'VOTACIONES.LISTADO' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="" routerLinkActive="active">{{ 'VOTACIONES.LISTADO-ADMIN' | translate }}</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'RECLAMACIONES.RECLAMACIONES-MENU' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/votaciones/reclamaciones']" routerLinkActive="active">{{ 'RECLAMACIONES.NUEVA' | translate }}</a>
          <a class="dropdown-item" routerLink="" routerLinkActive="active">{{ 'RECLAMACIONES.LISTADO' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="" routerLinkActive="active">{{ 'RECLAMACIONES.LISTADO-ADMIN' | translate }}</a>
        </div>
      </li>
    </ul>
    <span class="text-muted mr-5" [translate]="'VERSION_APP'" [translateParams]="{value: '1.0'}"></span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
      