 <div class="text-center m-3" *ngIf="messageService.messages.length || messageService.log.length">
    <div>
      <span (click)="messageService.clear()" class="badge badge-secondary m-1">{{'LIMPIAR' | translate}}</span >
      <span (click)="messageService.mostrarLog = !messageService.mostrarLog" class="badge badge-secondary m-1"> {{ !messageService.mostrarLog ? ('LOG'  | translate) : ('V_MENSAJE' | translate)}}</span >
      
      <br>
      
      <div [ngClass]="message.tipo" class="alert" role="alert" *ngFor='let message of commutar()'>
          {{message.texto | translate}}
      </div>
    </div>
</div>
