<p>
  
  <!-- Listado de Votaciones -->
  <!-- <app-votaciones *ngFor="let votacionInput of votacionesOrdenadas()" [votacionInput]="votacionInput"/> -->
  <app-votaciones *ngFor="let votacionInput of votacionesOrdenadas()" [votacionInput]="votacionInput"></app-votaciones>
</p>

<!-- <app-confirm-eliminar mensaje="Newsletter!"></app-confirm-eliminar>  
<script>  
    const subscriber = document.querySelector('app-confirm-eliminar');
    subscriber.addEventListener('subscribe', (event) => {
      console.log(`${event.detail}`);
    })
</script>  -->

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Open modal without ng-include </button>
< ! - - Modal - - >
<div id="modalConfirmEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        < ! - - Modal content - - >
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmación</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que desea eliminar el voto?</p>
          </div>
          <div class="modal-footer">
            < ! - - <button type="button" class="btn btn-primary" (click)="aceptarEliminar()">Aceptar</button> - - >
            <app-confirm-eliminar></app-confirm-eliminar>
            <button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
    </div> -->